<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OmniDownloader</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <%- include('Partials/header') %>
  <main>
    
    <!-- Viewing an individual profile - showing the information about the profile, associated posts and those posts's files -->
    <section class="profile">
      <h2>Profile: <%= userData.profile.username %></h2>
      <p>User ID: <%= userData.profile.user_id %></p>
      <p>Platform: <%= userData.profile.platform %></p>

      <h3>Posts</h3>
      <table>
        <thead>
          <tr>
            <th style="width: 20%;">Post ID</th>
            <th style="width: 20%;">Post Title</th>
            <th style="width: 20%;">Post Files</th>
          </tr>
        </thead>
        <tbody>
          <% userData.profile.posts.forEach(function(post) { %>
            <tr>
              <td><%= post.post_id %></td>
              <td><%= post.post_date %></td>
              <td><%= post.post_content %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>

    </section>
    
  </main>

  <%- include('Partials/footer') %>

</body>
</html>
